process {
    queue       =   params.queue
    executor    =   'slurm'

    withLabel:   'process_high' {
        memory    =   70.GB
        time      =   12.h
        cpus      =   50
    }
    withLabel:   'process_medium' {
        memory    =   32.GB
        time      =   12.h
        cpus      =   16 
    }
    withLabel:   'process_low' {
        memory    =   16.GB
        time      =   2.h
        cpus      =   8
    }
    withLabel   :   'process_single' {
        memory    =   40.GB
        time      =   5.h
    } 

    // Define singularity containers for each process or define docker container registery
    withName : SUBSAMPLE {
        container = '/fs1/saile/prj/container/seqtk_1.3--hed695b0_2.sif'
    }
}